.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;

}

.itens {
    display: flex;
}

img {
    height: 400px;
    width: 470px;
    border: 1px solid rgb(110, 39, 39);
    margin: 1em 0;
    padding: 1em;
    border-radius: 5px;

}

#padding {
    padding: 150px;
    background-color: rgb(19, 4, 4);
}

.caixa {
    width: 500px;
    height: 1111px;
    margin: 10px;
    border: 1px solid rgb(0, 0, 0);
    text-align: flex;
    background-color: white;
    box-shadow: 10px 10px 5px black;
}

#margin {
    padding: 150px;
    background-color: rgb(255, 255, 255);
}

.caixaB {
    width: 700px;
    height: 700px;
    margin: 10px;
    text-align: column;
    background-color: white;
}

header {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
    border: 1px solid rgb(0, 0, 0);
    text-align: flex;
    background-color: white;
}

body {
    background-color: rgb(255, 255, 255);
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-style: inherit;
}
.modo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: rgb(214, 0, 0);
    font-style: unset;
}

header input {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    width: 80%;
    max-width: 400px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(177, 82, 82);
}

.receita {
    background-color: rgb(146, 59, 59);
    border: 1px solid rgb(110, 39, 39);
    margin: 1em 0;
    padding: 1em;
    border-radius: 5px;

}